body{
	font-family: 'Vollkorn', serif;
	background-color: #191919;
	color: #FFF;
	font-size: 62.5%;
}

 a
 {
 	color: #fed3d3;
 }

p
{
	font-size: 1.6em;
	font-weight: normal;

} 

header
{
	text-align: center;
	padding: 1em 10% 2em 10%;
	background-color: #fc4d4d;
}

h1
{
	font-size: 4em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.2em;
	color: #280101;
	font-family: 'Voces', cursive;
}

.facebook
{
	display:none;
}

figure{
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	position: relative;
	
}

figure img{
	max-width: 100%;
	width: 100%;
}

figcaption
{
	font-size: 1.5em;
	padding: 0.5em 1em;
	color: #c3c3c3;
	font-style: italic;
	position: absolute;
	bottom: 0;

	background: -moz-linear-gradient(top,  rgba(25,25,25,0.27) 0%, rgba(25,25,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,25,25,0.27)), color-stop(100%,rgba(25,25,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45191919', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
}

@media all and (min-width:600px)
{
	.facebook
	{
		display: block;
	}

	figure
	{
		width: 50%;
	}
}

@media all and (min-width:800px)
{
	body
	{
		font-size: 70%;
	}

	figure
	{
		width: 25%;
	}
}

@media all and (min-width:1200px)
{
	body
	{
		font-size: 90%;
	}

	header
	{
		padding-left: 15%;
		padding-right: 15%;
	}
}